<div class="panel__row">
  <div class="panel__heading">
    <h4 class="panel__title">{{document_description}} report</h4>
    <span class="panel__subtitle t-bold"><a href="{{basePath}}/committee/{{committee_id}}">{{ committee_name }}</a></span>
  </div>
  <table>
    {{#panelRow "Report coverage"}}
      {{datetime coverage_start_date pretty=true}} - {{datetime coverage_end_date pretty=true}}
    {{/panelRow}}
    {{#panelRow "Receipt date"}}
      {{datetime receipt_date pretty=true}}
    {{/panelRow}}
    {{#panelRow "Amendment indicator"}}
      {{decodeAmendment amendment_indicator}}
    {{/panelRow}}
  </table>
</div>
<div class="panel__row">
  <table>
    {{#panelRow "Total receipts"}}
      {{{currency total_receipts_period}}}
    {{/panelRow}}
    {{#panelRow "Total disbursements"}}
      {{{currency total_disbursements_period}}}
    {{/panelRow}}
    {{#panelRow "Transfers to authorized committees"}}
      {{{currency transfers_to_other_authorized_committee_period}}}
    {{/panelRow}}
    {{#panelRow "Individual contributions"}}
      {{{currency total_individual_contributions_period}}}
    {{/panelRow}}
    {{#panelRow "Itemized individual contributions"}}
      {{{currency individual_itemized_contributions_period}}}
    {{/panelRow}}
    {{#panelRow "Unitemized individual contributions"}}
      {{{currency individual_unitemized_contributions_period}}}
    {{/panelRow}}
    {{#panelRow "Loan repayments"}}
      {{{currency total_loan_repayments_made_period}}}
    {{/panelRow}}
    {{#panelRow "Beginning cash on hand"}}
      {{{currency cash_on_hand_beginning_period}}}
    {{/panelRow}}
    {{#panelRow "Ending cash on hand"}}
      {{{currency cash_on_hand_end_period}}}
    {{/panelRow}}
    {{#if net_contributions_period}}
      {{#panelRow "Net contributions period"}}
        {{{currency net_contributions_period}}}
      {{/panelRow}}
    {{else}}
      {{#panelRow "Net contributions cycle to date"}}
        {{{currency net_contributions_cycle_to_date}}}
      {{/panelRow}}
    {{/if}}
    {{#if net_operating_expenditures_period}}
      {{#panelRow "Net operating expenditures period"}}
        {{{currency net_operating_expenditures_period}}}
      {{/panelRow}}
    {{else}}
      {{#panelRow "Net operating expenditures cycle to date"}}
        {{{currency net_operating_expenditures_cycle_to_date}}}
      {{/panelRow}}
    {{/if}}
    {{#panelRow "Debts owed by committee"}}
      {{{currency debts_owed_by_committee}}}
    {{/panelRow}}
  </table>
</div>
