<div class="panel__row">
  <div class="panel__heading">
    <h4 class="panel__title">{{document_description}}</h4>
    <span class="panel__subtitle">Report coverage: {{datetime coverage_start_date}} - {{datetime coverage_end_date}}</h5>
  </div>
  <table>
    <tr>
      <td class="panel__term">Total Receipts</td>
      <td>{{{currency total_receipts_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Total Disbursements</td>
      <td>{{{currency total_disbursements_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Individual Contributions</td>
      <td>{{{currency total_individual_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Itemized Individual Contributions</td>
      <td>{{{currency individual_itemized_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Unitemized Individual Contributions</td>
      <td>{{{currency individual_unitemized_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Beginning Cash on Hand</td>
      <td>{{{currency cash_on_hand_beginning_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Ending Cash on Hand</td>
      <td>{{{currency cash_on_hand_end_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Net Contributions</td>
      <td>{{{currency net_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Net Operating Expenditures</td>
      <td>{{{currency net_operating_expenditures_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Debts Owed by Committee</td>
      <td>{{{currency debts_owed_by_committee}}}</td>
    </tr>
  </table>
</div>
