<div class="panel__row">
  <div class="panel__heading">
    <h4 class="panel__title">{{document_description}} report</h4>
    <span class="panel__subtitle t-bold"><a href="{{basePath}}/committee/{{committee_id}}">{{ committee_name }}</a></span>
  </div>
  <table>
    <tr>
      <td class="panel__term" scope="row">Report coverage</td>
      <td>{{prettyDatetime coverage_start_date}} - {{prettyDatetime coverage_end_date}}</td>
    </tr>
    <tr>
      <td class="panel__term" scope="row">Receipt date</td>
      <td>{{ prettyDatetime receipt_date }}</td>
    </tr>
    <tr>
      <td class="panel__term" scope="row">Amendment indicator</td>
      <td>{{ amendmentDecoder amendment_indicator }}</td>
    </tr>
  </table>
</div>
<div class="panel__row">
  <table>
    <tr>
      <td class="panel__term" scope="row">Total receipts</td>
      <td>{{{currency total_receipts_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term" scope="row">Total disbursements</td>
      <td>{{{currency total_disbursements_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term" scope="row">Individual contributions</td>
      <td>{{{currency total_individual_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term" scope="row">Itemized individual contributions</td>
      <td>{{{currency individual_itemized_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term" scope="row">Unitemized individual contributions</td>
      <td>{{{currency individual_unitemized_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term" scope="row">Beginning cash on hand</td>
      <td>{{{currency cash_on_hand_beginning_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term" scope="row">Ending cash on hand</td>
      <td>{{{currency cash_on_hand_end_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term" scope="row">Net contributions</td>
      <td>{{{currency net_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term" scope="row">Net operating expenditures</td>
      <td>{{{currency net_operating_expenditures_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term" scope="row">Debts owed by committee</td>
      <td>{{{currency debts_owed_by_committee}}}</td>
    </tr>
  </table>
</div>
