<div class="panel__row">
  <div class="panel__heading">
    <h4 class="panel__title">{{document_description}}</h4>
    <span class="panel__subtitle">Report coverage: {{datetime coverage_start_date}} - {{datetime coverage_end_date}}</h5>
  </div>
  <table>
    <tr>
      <td class="panel__term">Total receipts</td>
      <td>{{{currency total_receipts_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Total disbursements</td>
      <td>{{{currency total_disbursements_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Individual contributions</td>
      <td>{{{currency total_individual_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Itemized individual contributions</td>
      <td>{{{currency individual_itemized_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Unitemized individual contributions</td>
      <td>{{{currency individual_unitemized_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Beginning cash on hand</td>
      <td>{{{currency cash_on_hand_beginning_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Ending cash on hand</td>
      <td>{{{currency cash_on_hand_end_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Net contributions</td>
      <td>{{{currency net_contributions_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Net operating expenditures</td>
      <td>{{{currency net_operating_expenditures_period}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Debts owed by committee</td>
      <td>{{{currency debts_owed_by_committee}}}</td>
    </tr>
  </table>
</div>
