<div class="panel__row">
  <h4>{{document_description}}</h4>
  <h5>Report coverage: {{datetime coverage_start_date}} - {{datetime coverage_end_date}}</h5>
  <table>
    <tr>
      <td>Total receipts</td>
      <td>{{{currency total_receipts_period}}}</td>
    </tr>
    <tr>
      <td>Total disbursements</td>
      <td>{{{currency total_disbursements_period}}}</td>
    </tr>
    <tr>
      <td>Individual contributions</td>
      <td>{{{currency total_individual_contributions_period}}}</td>
    </tr>
    <tr>
      <td>Itemized individual contributions</td>
      <td>{{{currency individual_itemized_contributions_period}}}</td>
    </tr>
    <tr>
      <td>Unitemized individual contributions</td>
      <td>{{{currency individual_unitemized_contributions_period}}}</td>
    </tr>
    <tr>
      <td>Beginning cash on hand</td>
      <td>{{{currency cash_on_hand_beginning_period}}}</td>
    </tr>
    <tr>
      <td>Ending cash on hand</td>
      <td>{{{currency cash_on_hand_end_period}}}</td>
    </tr>
    <tr>
      <td>Net contributions</td>
      <td>{{{currency net_contributions_period}}}</td>
    </tr>
    <tr>
      <td>Net operating expenditures</td>
      <td>{{{currency net_operating_expenditures_period}}}</td>
    </tr>
    <tr>
      <td>Debts owed by committee</td>
      <td>{{{currency debts_owed_by_committee}}}</td>
    </tr>
  </table>
</div>
