<div id="results-count">Results: {{resultsCount}} records</div>
Viewing: {{currentResultsStart}} - {{currentResultsEnd}}
<div class="pagination-links">
    {{#if prevURL}}
        <a href="{{prevURL}}" id="prev">Previous {{perPage}}</a>
    {{/if}}
    {{#if nextURL}}
        <a href="{{nextURL}}" id="next">Next {{perPage}}</a>
    {{/if}}
</div>
<table id="results">
    <thead>
        <tr>
            <th>Name</th>
            <th>Office</th>
            <th>Election</th>
            <th>Party</th>
            <th>State</th>
            <th>District</th>
        </tr>

        {{#each candidates}}
            <tr>
                <td>{{name}}</td>
                <td>{{office}}</td>
                <td>{{election}}</td>
                <td>{{party}}</td>
                <td>{{state}}</td>
                <td>{{district}}</td>
            </tr>
        {{/each}}
    </thead>
</table>
