{{#if resultsCount}}
    <div class="meta-box">
        <div id="results-count" class="results-count">
          <p>Results: {{resultsCount}} records</p>
            {{#if resultsRange}}
                <p>Viewing: {{currentResultsStart}} - {{currentResultsEnd}}</p>
            {{/if}}
        </div>
        {{#if paginationLinks}}
            <div class="pagination">
                {{#if prevURL}}
                    <a href="{{prevURL}}" id="prev" class="pagination__link"><i class="ti-arrow-left"></i> Previous {{perPage}}</a>
                {{/if}}
                {{#if nextURL}}
                    <a href="{{nextURL}}" id="next" class="pagination__link">Next {{perPage}} <i class="ti-arrow-right"></i></a>
                {{/if}}
            </div>
        {{/if}}
    </div><!--- .meta-box -->
{{/if}}

<table id="results">
    <thead>
        <tr>
            <th>Name</th>
            <th>Office</th>
            <th>Election</th>
            <th>Party</th>
            <th>State</th>
            <th>District</th>
        </tr>
    </thead>
    <tbody>
        {{#each candidates}}
            <tr>
                <td class="flex-cell">{{name}}</td>
                <td>{{office}}</td>
                <td>{{election}}</td>
                <td>{{party}}</td>
                <td>{{state}}</td>
                <td>{{district}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{#if resultsCount}}
    <div class="meta-box meta-box--bottom">
        <div id="results-count" class="results-count">
          <p>Results: {{resultsCount}} records</p>
            {{#if resultsRange}}
                <p>Viewing: {{currentResultsStart}} - {{currentResultsEnd}}</p>
            {{/if}}
        </div>
        {{#if paginationLinks}}
            <div class="pagination">
                {{#if prevURL}}
                    <a href="{{prevURL}}" id="prev" class="pagination__link"><i class="ti-arrow-left"></i> Previous {{perPage}}</a>
                {{/if}}
                {{#if nextURL}}
                    <a href="{{nextURL}}" id="next" class="pagination__link">Next {{perPage}} <i class="ti-arrow-right"></i></a>
                {{/if}}
            </div>
        {{/if}}
    </div><!--- .meta-box -->
{{/if}}
