{{#if resultsCount}}
    <div id="results-count">Results: {{resultsCount}} records</div>
{{/if}}

{{#if currentResultsStart && currentResultsEnd}}
    Viewing: {{currentResultsStart}} - {{currentResultsEnd}}
{{/if}}

{{#if prevURL || nextURL}}
    <div class="pagination-links">
        {{#if prevURL}}
            <a href="{{prevURL}}" id="prev">Previous {{perPage}}</a>
        {{/if}}
        {{#if nextURL}}
            <a href="{{nextURL}}" id="next">Next {{perPage}}</a>
        {{/if}}
    </div>
{{/if}}

<table id="results">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Designation</th>
            <th>State</th>
            <th>Received</th>
            <th>Spent</th>
        </tr>

        {{#each committees}}
            <tr>
                <td>{{name}}</td>
                <td>{{type}}</td>
                <td>{{designation}}</td>
                <td>{{state}}</td>
                <td>{{received}}</td>
                <td>{{spent}}</td>
            </tr>
        {{/each}}
    </thead>
</table>
