<div class="entity candidate tab-interface">
  <header class="entity__header">
    <div class="container">
      <div class="entity__header--top row">
        <div class="entity__header--bio">
          <h1>{{ name }}</h1>
        </div>
        {{!-- <div class="time-period">
          <label for="time-period-select">View records for</label>
          <select id="time-period-select" class="chosen-select">
            <option>2012-2014</option>
            <option>2010-2012</option>
          </select>
        </div> --}}
      </div>
      <div class="entity__header--bottom row">
        <div class="chunk--third">
          <dl class="entity__info data">
            <div class="table__row">
              <dt>Office Sought:</dt>
              <dd>{{ office }}</dd>
            </div>
            <div class="table__row">
              <dt>Party:</dt>
              <dd>{{ party }}</dd>
            </div>
            <div class="table__row">
              <dt>State:</dt>
              <dd>{{ state }}</dd>
            </div>
            <div class="table__row">
              <dt>District</dt>
              <dd>{{ district }}</dd>
            </div>
          </dl>
        </div>
        <div class="chunk--two-thirds">
          <dl class="entity__info data">
            <div class="table__row">
              <dt>Candidate ID:</dt>
              <dd>{{ id }}</dd>
            </div>
            <div class="table__row">
              <dt>Status:</dt>
              <dd>{{ incumbent_challenge }}</dd>
            </div>
            {{#if primary_committee}}
            <div class="table__row">
              <dt>{{ primary_committee.designation}}:</dt>
              <dd><a href="{{ primary_committee.url }}">{{ primary_committee.name }}</a></dd>
            </div>
            {{/if}}
          </dl>
        </div>
      </div>
      {{#if related_committees }}
        <div class="entity__header--bottom row">
          <h3>Related Committees</h3>
          {{#if affiliated_committees}}
          <div class="chunk--half">
            <h4>Authorized Committees</h4>
            <dl class="entity__related-entities data">
              {{#each affiliated_committees}}
              <dt>{{ this.designation }}</dt>
              <dd><a href="{{ this.nameURL }}">{{ this.name }}</a></dd>
              {{/each}}
            </dl>
          </div>
          {{/if}}     
          {{#if other_committees}}
            <div class="chunk--half">
              <h4>Other Committees</h4>
              <dl class="entity__related-entities data">
                {{#each other_committees}}
                <dt>{{ this.designation }}</dt>
                <dd><a href="{{ this.nameURL }}">{{ this.name }}</a></dd>
                {{/each}}
              </dl>
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </header>

  <section class="page-section" id="section-1" aria-labelledby="section-1-header">
    <div class="container">
      <h2 id="section-1-header" tabindex="0">Financial Summary</h2>
      <p class="text--lead">Get the full picture of all of the money received and spent by this candidate’s principal and authorized committees.</p>

      <div class="page-subsection">
        <h3>Candidate Committees</h3>
        <p class="text--lead">Committees linked to the candidate for purposes of campaign fundraising.</p>

        {{!-- {{#each committees}} --}}
        <div class="figure-group">
          <h5><a href="#">{{ this.name }}</a></h5>
          <p class="figure-group__description">{{ this.designation }} | Last updated: </p>
          <figure class="figure-group__summary">
            <div class="table table--simple">
              <div class="table__header">
                <h6>Summary - Two-Year Period</h6>
              </div>              
              <div class="table__row">
                <div class="table__cell">Total receipts</div>
                <div class="table__cell">$0</div>
              </div>
              <div class="table__row">
                <div class="table__cell">Total disbursements</div>
                <div class="table__cell">$0</div>
              </div>
              <div class="table__row">
                <div class="table__cell">Cash on hand</div>
                <div class="table__cell">$0</div>
              </div>
              <div class="table__row">
                <div class="table__cell">Debt</div>
                <div class="table__cell">$0</div>
              </div>
            </div>
          </figure>
        </div>
        {{!-- {{/each}} --}}
      </div>
      <div class="page-subsection">
        <h3>Filings</h3>
        <p class="text--lead">View all the paper work filed by this candidate. For reports filed by the candidate’s related committees, view the committee pages.</p>
        <table>
          <thead>
            <th class="sort-header">Filing name</th>
            <th class="sort-header">Filing type</th>
            <th class="sort-header">Date</th>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">Committee name</a></td>
              <td>Statement of candidacy</td>
              <td>1/1/2014</td>
            </tr>
            <tr>
              <td><a href="#">Committee name</a></td>
              <td>Statement of candidacy</td>
              <td>1/1/2012</td>
            </tr>
            <tr>
              <td><a href="#">Committee name</a></td>
              <td>Statement of candidacy</td>
              <td>1/1/201-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

<script src="/js/vendor/tablist.js"></script>
