<div class="panel__row">
  <div class="panel__heading">
    <h4 class="panel__title"><a href="{{basePath}}/candidate/{{candidate_id}}">{{name}}</a></h4>
  </div>
  <table>
    <tr>
      <td class="panel__term">Office</td>
      <td class="panel__data">{{office_full}}</td>
    </tr>
    <tr>
      <td class="panel__term">Election years</td>
      <td class="panel__data">{{election_years}}</td>
    </tr>
    <tr>
      <td class="panel__term">Political party</td>
      <td class="panel__data">{{party_full}}</td>
    </tr>
    <tr>
      <td class="panel__term">Status</td>
      <td class="panel__data">{{incumbent_challenge_full}}</td>
    </tr>
    {{#if state}}
    <tr>
      <td class="panel__term">State</td>
      <td class="panel__data">{{state}}</td>
    </tr>
    {{/if}}
    {{#if district}}
    <tr>
      <td class="panel__term">District</td>
      <td class="panel__data">{{district}}</td>
    </tr>
    {{/if}}
  </table>
</div>
