<div class="panel__row">
  <div class="panel__heading">
    <h4 class="panel__title"><a href="/candidate/{{candidate_id}}">{{name}}</a></h4>
  </div>
  <table>
    <tr>
      <td class="panel__term">Office</td>
      <td>{{office_full}}</td>
    </tr>
    <tr>
      <td class="panel__term">Election years</td>
      <td>{{election_years}}</td>
    </tr>
    <tr>
      <td class="panel__term">Political party</td>
      <td>{{party_full}}</td>
    </tr>
    <tr>
      <td class="panel__term">Status</td>
      <td>{{incumbent_challenge_full}}</td>
    </tr>
    {{#if state}}
    <tr>
      <td class="panel__term">State</td>
      <td>{{state}}</td>
    </tr>
    {{/if}}
    {{#if district}}
    <tr>
      <td class="panel__term">District</td>
      <td>{{district}}</td>
    </tr>
    {{/if}}
  </table>
</div>
