<div class="panel__row">
  <div class="panel__heading">
    <h4 class="panel__title"><a href="{{basePath}}/candidate/{{candidate_id}}">{{name}}</a></h4>
  </div>
  <table>
    {{#panelRow "Office"}}
      {{office_full}}
    {{/panelRow}}
    {{#panelRow "Election years"}}
      {{election_years}}
    {{/panelRow}}
    {{#panelRow "Political party"}}
      {{party_full}}
    {{/panelRow}}
    {{#panelRow "Status"}}
      {{incumbent_challenge_full}}
    {{/panelRow}}
    {{#if state}}
      {{#panelRow "State"}}
        {{state}}
      {{/panelRow}}
    {{/if}}
    {{#if district}}
      {{#panelRow "District"}}
        {{district}}
      {{/panelRow}}
    {{/if}}
  </table>
</div>
