<div class="panel__row">
  <div class="panel__heading">
    <h4 class="panel__title"><a href="/committee/{{committee_id}}">{{name}}</a></h4>
  </div>
  <table>
    <tr>
      <td class="panel__term">Designation</td>
      <td>{{designation_full}}</td>
    </tr>
    <tr>
      <td class="panel__term">Type</td>
      <td>{{committee_type_full}}</td>
    </tr>
    <tr>
      <td class="panel__term">Political Party</td>
      <td>{{party_full}}</td>
    </tr> 
    {{#if organization_type_full}}
    <tr>
      <td class="panel__term">Organization Type</td>
      <td>{{organization_type_full}}</td>
    </tr>  
    {{/if}}
    <tr>
      <td class="panel__term">Treasurer</td>
      <td>{{treasurer_name}}</td>
    </tr> 
    <tr>
      <td class="panel__term">State</td>
      <td>{{state}}</td>
    </tr>              
  </table>
</div>