<div class="panel__row">
  <div class="panel__heading">
    <h4 class="panel__title"><a href="{{basePath}}/committee/{{committee_id}}">{{name}}</a></h4>
  </div>
  <table>
    <tr>
      <td class="panel__term">Designation</td>
      <td class="panel__data">{{designation_full}}</td>
    </tr>
    <tr>
      <td class="panel__term">Type</td>
      <td class="panel__data">{{committee_type_full}}</td>
    </tr>
    <tr>
      <td class="panel__term">Political Party</td>
      <td class="panel__data">{{party_full}}</td>
    </tr>
    {{#if organization_type_full}}
    <tr>
      <td class="panel__term">Organization Type</td>
      <td class="panel__data">{{organization_type_full}}</td>
    </tr>
    {{/if}}
    <tr>
      <td class="panel__term">Treasurer</td>
      <td class="panel__data">{{treasurer_name}}</td>
    </tr>
    <tr>
      <td class="panel__term">State</td>
      <td class="panel__data">{{state}}</td>
    </tr>
  </table>
</div>
