<div class="filter">
  <fieldset class="js-dropdown">
  <legend class="label" for="candidate-list">Candidates to compare:</legend>
    <ul class="dropdown__selected list--flat"></ul>
    <div class="dropdown">
      <button class="dropdown__button button--neutral">More</button>
      <div class="dropdown__panel" aria-hidden="true">
        <ul class="dropdown__list">
          {{#each this}}
              <li class="dropdown__item">
                <input id="checkbox-{{ this.candidate_id }}" name="candidate-list" type="checkbox" data-id="{{this.candidate_id}}" data-name="{{this.candidate_name}}" {{#if this._checked}}checked{{/if}}>
                <label class="dropdown__value" for="checkbox-{{ this.candidate_id }}">{{this.candidate_name}}</label>
              </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </fieldset>
</div>
<div class="row">
  <fieldset class="toggles">
    <legend class="label">Compare by:</legend>
    <label for="toggle-size">
      <input id="toggle-size" type="radio" class="panel-toggle-control" name="election-aggregate" value="by-size" checked>
      <span class="button--neutral">Contribution Size</span>
    </label>
    <label for="toggle-state">
      <input id="toggle-state" type="radio" class="panel-toggle-control" name="election-aggregate" value="by-state">
      <span class="button--neutral">Contribution Location</span>
    </label>
    <label for="toggle-contributor-type">
      <input id="toggle-contributor-type" type="radio" class="panel-toggle-control" name="election-aggregate" value="by-contributor-type">
      <span class="button--neutral">Contributor Type</span>
    </label>
  </fieldset>       
</div>
