<div>
  <h5>Candidates to compare:</h5>
  {{#each this}}
    <label for="checkbox-{{ this.candidate_id }}">
      <input id="checkbox-{{ this.candidate_id }}" type="checkbox" data-id="{{this.candidate_id}}" data-name="{{this.candidate_name}}" checked>
      {{this.candidate_name}}
    </label>
  {{/each}}
</div>
