<div class="panel__row">
  <h4 class="panel__title">Recipient information</h4>
  <table>
    <tr>
      <td class="panel__term">Recipient name</td>
      {{#if recipient}}
        <td><a href="{{basePath}}committee/{{recipient.committee_id}}">{{recipient.name}}</a></td>
      {{else}}
        <td>{{recipient_name}}</td>
      {{/if}}
    </tr>
    <tr>
      <td class="panel__term">Recipient city and state</td>
      <td>{{ recipient_city }}, {{ recipient_state }}, {{ recipient_zip }}</td>
    </tr>
  </table>
</div>

<div class="panel__row">
  <h4 class="panel__title">Transaction information</h4>
  <table>
    <tr>
      <td class="panel__term">Amount</td>
      <td>{{{ currency disbursement_amount }}}</td>
    </tr>
    <tr>
      <td class="panel__term">Receipt date</td>
      <td>{{{ datetime disbursement_date }}}</td>
    </tr>
    <tr>
      <td class="panel__term">Memo</td>
      <td>{{ memo_text }}</td>
    </tr>
    <tr>
      <td class="panel__term">Description</td>
      <td>{{ disbursement_description }}</td>
    </tr>
    {{#if election_type_full }}
    <tr>
      <td class="panel__term">Election type</td>
      <td>{{ election_type_full }}</td>
    </tr>
    {{/if}}
  </table>
</div>

<div class="panel__row">
  <h4 class="panel__title">Committee information</h4>
  <table>
    <tr>
      <td class="panel__term">Name</td>
      <td><a href="{{basePath}}committee/{{committee_id}}">{{committee.name}}</a></td>
    </tr>
    <tr>
      <td class="panel__term">Designation</td>
      <td>{{committee.designation_full}}</a></td>
    </tr>
    {{#if committee.type}}
    <tr>
      <td class="panel__term">Type</td>
      <td>{{committee.type_full}}</a></td>
    </tr>
    {{/if}}
    <tr>
      <td class="panel__term">Treasurer</td>
      <td>{{committee.treasurer_name}}</a></td>
    </tr>
    <tr>
      <td class="panel__term">Committee city and state</td>
      <td>{{ committee.city }}, {{ committee.state }}, {{ committee.zip }}</td>
    </tr>
  </table>
</div>
