<fieldset class="js-subcycle-select">
  <legend class="cycle-select__label">Time period:</legend>
  <div class="toggles">
    {{#each this}}
    <label
      {{#if period}}
        class="subcycle--all"
      {{/if}}>
      <input
          type="radio"
          name="cycle-toggle"
          value="{{max}}"
          data-period="{{period}}"
          {{#if checked}}checked{{/if}}
        />
      <span
        class="button button--neutral">
        {{#if period}}
        All
        {{else}}
        {{min}}–{{max}}
        {{/if}}
      </span>
    </label>
    {{/each}}
  </div>
</fieldset>
