<div>
  {{#each this}}
  <div class="election-result box">
    <h4 style="color: {{this.color}}">{{this.electionName}}</h4>
    <div>{{ cycle }} General Election: {{this.electionDate}}</div>
    <div><a href="{{this.url}}">View all current candidates &raquo;</a></div>
  </div>
  {{/each}}
</div>
