<div>
  {{#each this}}
  <div class="election-result box">
    <h4 style="color: {{this.color}}">{{this.electionName}}</h4>
    <div>Next general election: {{this.electionDate}}</div>
    {{#if this.incumbent}}
    <div>Current officeholder: <a href="{{this.incumbent.url}}">{{this.incumbent.name}}</a></div>
    {{/if}}
    <div>Current candidates: <a href="{{this.url}}">View all &raquo;</a></div>
  </div>
  {{/each}}
</div>
