<div class="panel__row">
  <h4>{{report_year}} {{report_type_full}}</h4>
  <h5>Report coverage: {{datetime coverage_start_date}} - {{datetime coverage_end_date}}</h5>
  <table>
    <tr>
      <td>Total Receipts</td>
      <td>{{{currency total_receipts_period}}}</td>
    </tr>
    <tr>
      <td>Total Disbursements</td>
      <td>{{{currency total_disbursements_period}}}</td>
    </tr>
    <tr>
      <td>Transfers to Authorized Committees</td>
      <td>{{{currency transfer_to_other_authorized_committee_period}}}</td>
    </tr>
    <tr>
      <td>Individual Contributions</td>
      <td>{{{currency total_individual_contributions_period}}}</td>
    </tr>
    <tr>
      <td>Itemized Individual Contributions</td>
      <td>{{{currency individual_itemized_contributions_period}}}</td>
    </tr>
    <tr>
      <td>Unitemized Individual Contributions</td>
      <td>{{{currency individual_unitemized_contributions_period}}}</td>
    </tr>
    <tr>
      <td>Loan Repayments</td>
      <td>{{{currency total_loan_repayments_period}}}</td>
    </tr>
    <tr>
      <td>Beginning Cash on Hand</td>
      <td>{{{currency cash_on_hand_beginning_period}}}</td>
    </tr>
    <tr>
      <td>Ending Cash on Hand</td>
      <td>{{{currency cash_on_hand_end_period}}}</td>
    </tr>
    <tr>
      <td>Net Contributions</td>
      <td>{{{currency net_contributions_period}}}</td>
    </tr>
    <tr>
      <td>Net Operating Expenditures</td>
      <td>{{{currency net_operating_expenditures_period}}}</td>
    </tr>
    <tr>
      <td>Debts Owed by Committee</td>
      <td>{{{currency debts_owed_by_committee}}}</td>
    </tr>
  </table>
</div>
