<div class="panel__row">
  <h4>{{report_year}} {{report_type_full}}</h4>
  <h5>Report coverage: {{coverage_start_date}} - {{coverage_end_date}}</h5>
  <table>
    <tr>
      <td>Total Receipts</td>
      <td>{{total_receipts_period}}</td>
    </tr>
    <tr>
      <td>Total Disbursements</td>
      <td>{{total_disbursements_period}}</td>
    </tr>
    <tr>
      <td>Beginning Cash on Hand</td>
      <td>{{cash_on_hand_beginning_period}}</td>
    </tr>
    <tr>
      <td>Ending Cash on Hand</td>
      <td>{{cash_on_hand_end_period}}</td>
    </tr>
  </table>
</div>
