<div class="panel__row">
  <h4 class="panel__title">Contributor information</h4>
  <table>
    <tr>
      <td class="panel__term">Name</td>
      {{#if contributor}}
        {{#if (eq receipt_type (global 'EARMARKED_CODE'))}}
          <td class="panel__data">{{contributor_name}}</td>
        {{else}}
          <td class="panel__data"><a href="{{basePath}}/committee/{{contributor.committee_id}}">{{contributor.name}}</a></td>
        {{/if}}
      {{else}}
        <td class="panel__data">{{contributor_name}}</td>
      {{/if}}
    </tr>
    {{#if contributor}}
      {{#if (eq receipt_type (global 'EARMARKED_CODE'))}}
        <tr>
          <td class="panel__term">Earmarked by</td>
          <td class="panel__data"><a href="{{basePath}}/committee/{{contributor.committee_id}}">{{contributor.name}}</a></td>
        </tr>
      {{/if}}
    {{/if}}
    <tr>
      <td class="panel__term">City and state</td>
      <td class="panel__data">{{ contributor_city }}, {{ contributor_state }}, {{ contributor_zip }}</td>
    </tr>
    <tr>
      <td class="panel__term">Occupation</td>
      <td class="panel__data">{{ contributor_occupation }}</td>
    </tr>
    <tr>
      <td class="panel__term">Employer</td>
      <td class="panel__data">{{ contributor_employer }}</td>
    </tr>
    <tr>
      <td class="panel__term">Year to date</td>
      <td class="panel__data">{{{ currency contributor_aggregate_ytd }}}</td>
    </tr>
  </table>
</div>

<div class="panel__row">
  <h4 class="panel__title">Contribution information</h4>
  <table>
    <tr>
      <td class="panel__term">Amount</td>
      <td class="panel__data">{{{ currency contribution_receipt_amount }}}</td>
    </tr>
    <tr>
      <td class="panel__term">Receipt date</td>
      <td class="panel__data">{{{ datetime contribution_receipt_date pretty=true }}}</td>
    </tr>
    <tr>
      <td class="panel__term">Filing date</td>
      <td class="panel__data">{{{ datetime receipt_date pretty=true}}}</td>
    </tr>
    <tr>
      <td class="panel__term">Memo</td>
      <td class="panel__data">{{ memo_text }}</td>
    </tr>
    <tr>
      <td class="panel__term">Election type</td>
      <td class="panel__data">{{ election_type_full }}</td>
    </tr>
  </table>
</div>

<div class="panel__row">
  <h4 class="panel__title">Recipient information</h4>
  <table>
    <tr>
      <td class="panel__term">Committee</td>
      <td class="panel__data"><a href="{{basePath}}/committee/{{ committee.committee_id }}/">{{ committee.name }}</a></td>
    </tr>
    <tr>
      <td class="panel__term">Political party</td>
      <td class="panel__data">{{ committee.party_full }}</td>
    </tr>
    <tr>
      <td class="panel__term">Type</td>
      <td class="panel__data">{{ committee.committee_type_full }}</td>
    </tr>
    <tr>
      <td class="panel__term">State</td>
      <td class="panel__data">{{ committee.state_full }}</td>
    </tr>
  </table>
</div>
